{{ if not .Values.validator }}

apiVersion: apps/v1

kind: Deployment

metadata:
  name: {{ .Release.Name }}-event-tracker
  labels:
    app: {{ .Release.Name }}
    role: event-tracker

{{ $pvc := include "persistent_volume_claims" . | fromYaml -}}

spec:
  replicas: {{ .Values.eventTrackerReplicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
      role: event-tracker
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        role: event-tracker
        engine: "true"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9090"
        prometheus.io/path: "/metrics"
    spec:
      terminationGracePeriodSeconds: {{ .Values.mtaTerminationGracePeriodSeconds }}
      containers:
        - name: greenarrow-event-tracker
          image: "greenarrowemail/greenarrow:{{ .Values.greenarrowVersion }}"
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          ports:
            - containerPort: 25
              name: smtp25
            - containerPort: 80
              name: http
          command: ["/app/init.greenarrow.sh"]
          resources:
            requests:
              {{ if not (empty .Values.defaultMemoryResourceRequest) }}memory: {{ .Values.defaultMemoryResourceRequest | quote }}{{ end }}
              {{ if not (empty .Values.defaultCpuResourceRequest) }}cpu: {{ .Values.defaultCpuResourceRequest | quote }}{{ end }}
            limits:
              {{ if not (empty .Values.defaultMemoryResourceLimit) }}memory: {{ .Values.defaultMemoryResourceLimit | quote }}{{ end }}
              {{ if not (empty .Values.defaultCpuResourceLimit) }}cpu: {{ .Values.defaultCpuResourceLimit | quote }}{{ end }}
          readinessProbe:
              exec:
                command:
                  - /var/hvmail/libexec/greenarrow_readinesscheck
              periodSeconds: 5
              timeoutSeconds: 15
          volumeMounts:
            - name: config-volume
              mountPath: /var/hvmail/control.import
              readOnly: true
            - name: secret-volume
              mountPath: /var/hvmail/control.secret
              readOnly: true
            - name: ram-queue-volume
              mountPath: /var/hvmail/qmail-ram/queue
            - name: bounce-queue-volume
              mountPath: /var/hvmail/qmail-bounce/queue
            {{ if not (empty $pvc.drainFallbackVolumeClaim) -}}
            - name: {{ $pvc.drainFallbackVolumeName | quote }}
              mountPath: {{ $pvc.drainFallbackPath | quote }}
            {{- end }}
            {{ if not (empty $pvc.httpsTlsCertVolumeClaim) -}}
            - name: {{ $pvc.httpsTlsCertVolumeName | quote }}
              mountPath: {{ $pvc.httpsTlsCertPath | quote }}
              readOnly: true
            {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}-configmap-event-tracker
        - name: secret-volume
          secret:
            secretName: {{ .Release.Name }}-secret
        - name: ram-queue-volume
          emptyDir:
            medium: Memory
            sizeLimit: {{ .Values.eventTrackerRamQueueSize }}
        - name: bounce-queue-volume
          emptyDir:
            medium: Memory
            sizeLimit: {{ .Values.eventTrackerBounceQueueSize }}
        {{ if not (empty $pvc.drainFallbackVolumeClaim) -}}
        - name: {{ $pvc.drainFallbackVolumeName | quote }}
          persistentVolumeClaim:
            claimName: {{ $pvc.drainFallbackVolumeClaim | quote }}
        {{ end -}}
        {{ if not (empty $pvc.httpsTlsCertVolumeClaim) -}}
        - name: {{ $pvc.httpsTlsCertVolumeName | quote }}
          persistentVolumeClaim:
            claimName: {{ $pvc.httpsTlsCertVolumeClaim | quote }}
        {{- end }}

{{ end }}
