apiVersion: apps/v1

kind: Deployment

metadata:
  name: {{ .Release.Name }}-mta
  labels:
    app: {{ .Release.Name }}
    role: mta

{{ $pvc := include "persistent_volume_claims" . | fromYaml }}

{{ $greenarrowVersionMtaProd := coalesce .Values.mtaGreenArrowVersion .Values.greenarrowVersion -}}
{{ $greenarrowVersion := $greenarrowVersionMtaProd -}}
{{ if .Values.validator -}}
  {{ $greenarrowVersion = .Values.greenarrowVersion -}}
{{ end -}}
{{ $mtaMemoryResourceLimit := coalesce .Values.mtaMemoryResourceLimit .Values.defaultMemoryResourceLimit -}}
{{ $mtaCpuResourceLimit := coalesce .Values.mtaCpuResourceLimit .Values.defaultCpuResourceLimit -}}
{{ $mtaMemoryResourceRequest := coalesce .Values.mtaMemoryResourceRequest .Values.defaultMemoryResourceRequest -}}
{{ $mtaCpuResourceRequest := coalesce .Values.mtaCpuResourceRequest .Values.defaultCpuResourceRequest -}}

spec:
  replicas: {{ if .Values.validator }}1{{ else }}{{ .Values.mtaReplicaCount }}{{ end }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
      role: mta
  revisionHistoryLimit: {{ if .Values.validator }}0{{ else }}3{{ end }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        role: mta
        engine: "true"
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9090"
        prometheus.io/path: "/metrics"
    spec:
      terminationGracePeriodSeconds: {{ .Values.mtaTerminationGracePeriodSeconds }}
      containers:
        - name: greenarrow-mta
          image: "greenarrowemail/greenarrow:{{ $greenarrowVersion }}"
          imagePullPolicy: {{ .Values.imagePullPolicy | quote }}
          ports:
            - containerPort: 587
              name: smtp587
            - containerPort: 80
              name: http
          env:
            - name: GA_DRAIN_FALLBACK_VOLUME_CLAIM
              value: {{ $pvc.drainFallbackVolumeClaim | quote }}
            - name: GA_MTA_DRAIN_FALLBACK_AFTER_SECONDS
              value: {{ printf "%d" (int64 .Values.mtaDrainFallbackAfterSeconds) | quote }}
            - name: GA_MTA_LOAD_BALANCER
              value: {{ printf "%s-ingress-mta:443" .Release.Name | quote }}
          command: ["/app/init.greenarrow.sh"]
          resources:
            requests:
              {{ if not (empty $mtaMemoryResourceRequest) }}memory: {{ $mtaMemoryResourceRequest | quote }}{{ end }}
              {{ if not (empty $mtaCpuResourceRequest) }}cpu: {{ $mtaCpuResourceRequest | quote }}{{ end }}
            limits:
              {{ if not (empty $mtaMemoryResourceLimit) }}memory: {{ $mtaMemoryResourceLimit | quote }}{{ end }}
              {{ if not (empty $mtaCpuResourceLimit) }}cpu: {{ $mtaCpuResourceLimit | quote }}{{ end }}
          readinessProbe:
              exec:
                command:
                  - /var/hvmail/libexec/greenarrow_readinesscheck
              periodSeconds: 5
              timeoutSeconds: 15
          volumeMounts:
            - name: config-volume
              mountPath: /var/hvmail/control.import
              readOnly: true
            - name: secret-volume
              mountPath: /var/hvmail/control.secret
              readOnly: true
            - name: ram-queue-volume
              mountPath: /var/hvmail/qmail-ram/queue
            - name: bounce-queue-volume
              mountPath: /var/hvmail/qmail-bounce/queue
            {{ if and (not .Values.validator) (not (empty $pvc.drainFallbackVolumeClaim)) -}}
            - name: {{ $pvc.drainFallbackVolumeName | quote }}
              mountPath: {{ $pvc.drainFallbackPath | quote }}
            {{- end }}
            {{ if and (not .Values.validator) (not (empty $pvc.httpsTlsCertVolumeClaim)) -}}
            - name: {{ $pvc.httpsTlsCertVolumeName | quote }}
              mountPath: {{ $pvc.httpsTlsCertPath | quote }}
              readOnly: true
            {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}-configmap-mta
        - name: secret-volume
          secret:
            secretName: {{ .Release.Name }}-secret
        - name: ram-queue-volume
          emptyDir:
            medium: Memory
            sizeLimit: {{ .Values.mtaRamQueueSize }}
        - name: bounce-queue-volume
          emptyDir:
            medium: Memory
            sizeLimit: {{ .Values.mtaBounceQueueSize }}
        {{ if and (not .Values.validator) (not (empty $pvc.drainFallbackVolumeClaim)) -}}
        - name: {{ $pvc.drainFallbackVolumeName | quote }}
          persistentVolumeClaim:
            claimName: {{ $pvc.drainFallbackVolumeClaim | quote }}
        {{ end -}}
        {{ if and (not .Values.validator) (not (empty $pvc.httpsTlsCertVolumeClaim)) -}}
        - name: {{ $pvc.httpsTlsCertVolumeName | quote }}
          persistentVolumeClaim:
            claimName: {{ $pvc.httpsTlsCertVolumeClaim | quote }}
        {{- end }}
